* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #333;
    font-family: 'Bangers', cursive;
}
header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: black;
    text-align: center;
}
header img {
    height: 80%;
    margin-left: 10px;
    margin-top: 10px;
    vertical-align: middle;
}
 ul,li {
     display: inline-block;
 }

#menu li {
    color: white;
    margin-left: 20px;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 10px;
}
#menu button {
    padding: 2px;
}
#menu input {
    border-radius: 2px;
}
#wrapper {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.row {
    width: 700px;
    height: 250px;
}
.row div:not(.sconto) {
    width: 200px;
    height: 200px;
    margin: 10px;
    position: relative;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 5px 5px 20px black;
}
.sconto {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: red;
    padding: 5px;
    font-size: 15px;
    font-weight: 300;
}
.sconto span {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    color: white;
}
#basso {
    background-image: url("img/basso.jpg");

}
#batteria {
    background-image: url("img/batteria.jpg");
}
#casse {
    background-image: url("img/casse.jpg");
}
#chitarra {
    background-image: url("img/chitarra.jpg");
}
#tastieramidi {
    background-image: url("img/tastieramidi.jpg");
}
#ukulele {
    background-image: url("img/ukulele.jpg");

}
